.dropdown {
  position: relative;
}

.notifications-dropdown {
  display: none;
  position: absolute;
  overflow: auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.dropdown:hover .notifications-dropdown {
  display: block;
  top: 100%;
  right: 5%;
}

.notifications-dropdown a {
  display: flex;
  align-items: center;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  padding: 10px 30px;
}

.notifications-dropdown a:hover {
  color: #0a0a23;
  background-color: #ddd;
  border-radius: 5px;
}

.msgbox {
  display: block;
  text-align: center;
  font-size: 12px;
}

.msg {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: whitesmoke;
  text-align: center;
}
